---
title: OEA Partners
layout: page
permalink: /partners-more/
---

<section id="find-oea-partner">
    <div class="container mt-10">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-10">
                <div class="container px-0">
                    <div class="row justify-content-between mx-2 mx-lg-0 mx-xl-0 mx-md-2 mb-4 mb-md-5">
                        <div class="col-md-6 g-0">
                            <ul class="list-unstyled">
                                <li>
                                    <h4>Partners</h4>
                                </li>
                                <li class="mini-nav">
                                    <p id="filtered-text" class="my-0 p-0 text-muted">All</p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 text-right text-md-end">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Filter by Region
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li onclick="filterByRegion('All')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">All</p>
                                        </div>
                                    </li>
                                    <li onclick="filterByRegion('Africa')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">Africa</p>
                                        </div>
                                    </li>
                                    <li onclick="filterByRegion('Antartica')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">Antartica</p>
                                        </div>
                                    </li>
                                    <li onclick="filterByRegion('Asia')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">Asia</p>
                                        </div>
                                    </li>
                                    <li onclick="filterByRegion('Australia / Pacific')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">Australia / Pacific</p>
                                        </div>
                                    </li>

                                    <li onclick="filterByRegion('Europe')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">Europe</p>
                                        </div>
                                    </li>

                                    <li onclick="filterByRegion('Middle East')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">Middle East</p>
                                        </div>
                                    </li>

                                    <li onclick="filterByRegion('North America / Central America / Caribbean')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">North America / Central America / Caribbean</p>
                                        </div>
                                    </li>
                                    <li onclick="filterByRegion('South America')">
                                        <div style="cursor: pointer;" class="dropdown-item">
                                            <p class="m-0 p-0 py-2">South America</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="list-unstyled d-none">
                                <li>
                                    <i class="fas fa-filter fa-2x"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2  justify-content-center" id="all_list">
            {% assign partners = site.data.oea_partners  | sort:'name' %}
            {% for partner in partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text mt-2">
                                <small class="mb-0">{{ partner.region }}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2 justify-content-center" id="asia_list">

            {% assign asia_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'AS'" | sort:'name' %}

            {% for partner in asia_partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2 justify-content-center" id="europe_list">

            {% assign europe_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'EU'" | sort:'name' %}

            {% for partner in europe_partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2 justify-content-center" id="africa_list">

            {% assign africa_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'AF'" | sort:'name' %}

            {% for partner in africa_partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2 justify-content-center" id="south_america_list">

            {% assign south_america_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'SA'" | sort:'name' %}

            {% for partner in south_america_partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2  justify-content-center" id="middle_east_list">

            {% assign middle_east_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'ME'" | sort:'name' %}

            {% for partner in middle_east_partners %}
            <div
                    class="col-11 col-md-2 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2  justify-content-center" id="antartica_list">

            {% assign antartica_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'ANT'" | sort:'name' %}

            {% for partner in antartica_partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2  justify-content-center" id="australia_pacific_list">

            {% assign autralia_pacific_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'AUS-PA'" | sort:'name' %}

            {% for partner in autralia_pacific_partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-2  justify-content-center" id="north_america_list">

            {% assign north_america_partners = site.data.oea_partners | where_exp: "item", "item.region_code == 'NA-CENA-CAR'" | sort:'name' %}

            {% for partner in north_america_partners %}
            <div
                    class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}" alt="" height="50"
                                     class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.region }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>